<div class="container-fluid">
  <h1>Bootcamp Enrollement Form</h1>
  <form>
    <div class="form-group">
      <label class="form-check-label">Name</label>
      <input type="text" class="form-control" />
    </div>
    <div class="form-group">
      <label class="form-check-label">Email</label>
      <input type="email" class="form-control" />
    </div>
    <div class="form-group">
      <label class="form-check-label">Phone</label>
      <input type="tel" class="form-control" />
    </div>
    <div class="form-group">
      <label>I am interested in</label>
      <select class="custom-select form-control">
        <option *ngFor="let topic of topics">{{ topic }}</option>
      </select>
    </div>
    <div class="mb-3">
      <label>Time Preference</label>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          name="timePreference"
          value="morning"
        />
        <label class="form-check-label">Morning (9AM to 12PM)</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          class="form-check-input"
          name="timePreference"
          value="evening"
        />
        <label class="form-check-label">Morning (6PM to 9PM)</label>
      </div>
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" />
      <label class="form-check-label">Send me promotional offers</label>
    </div>
    <button class="btn btn-primary" type="submit">Submit Form</button>
  </form>
</div>
